{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}


<section id="upload">

<section id="community">
<h1>Community</h1>
	<p>
	Have a question for the forums? Looking to chat with other Marathonners on Discord? Check out the community links!
	</p>
	<br>
	<div id="blackstripe"></div>
	<br>

	<ul>
		<li><a href="http://discord.gg/XnEqb8z">Discord</p></li>
		<li><a href="http://reddit.com/r/Marathon">Reddit</p></li>
		<li><a href="http://pfhorums.com">The Pfhorums</p></li>
		<li><a href="http://marathon.bungie.org/story">Marathon's Story</p></li>
		<li><a href="http://lhowon.org">lhowon.org</p></li>
	</ul>
</section>

</section>
</section>
{% endblock %}
