{% extends "s7uploads/navbar.html" %}

{% load static %}
{% load upload_tags %}

{% block content %}

<section id="main-content">

{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
				<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}

<section id="singleupload">
{% if user.is_authenticated %}
<section id="upload">
	<section id="uploadheader">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}

		<a id="download" href="#">Download</a>
		<a id="delete" href="{% url 's7uploads:delete' pk=upload.id %}">Delete</a>
		<h1>{{form.title}} by {{ upload.upload_id.user.user.username }}</h1>

		<div id="blackstripe"></div>

		<section id="uploadtext">
			<h3>{{ upload.upload_id.user.user.username }} on {{ upload.date_added }} </h3>
			{{ form.description.as_textarea }}
			<br>
			<br>
			<h4> Version {{ upload.version_name }} Notes: </h4>
			<p> {{ form.versionNotes.as_textarea }} </p>

			<h4> Tags </h4>
			{{ form.tagline }}
			<br>
			<br>
			<input type="submit" name='submit-edit' value="Submit Changes">
			</form>
			<br><br>
		</section>


		<section id="thumbnailscreenshots">
			{% for screenshot in upload.upload_id.screenshot_set.all %}
				<section id="thumbnailscreenshot">
                    <img src="{% get_media_prefix %}{{screenshot.url}}" alt="{{screenshot.url}}"></img>
				<a id="deletess" href="{% url 's7uploads:delete_ss' pk=screenshot.id %}">⛝</a>
				</section>
			{% endfor %}
			<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			<br>{{screenshotform.screenshots}}<br><br>
			<input type="submit" name='submit-ss' value="+ Add Screenshot">
			</form>
		</section>


	</section>
</section>
{% endif %}

</section>


</section>
{% endblock %}
