{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">
<section id="sidebar">
	<h1>Search / Sort</h1>
	<section id="sidebar-content">
	<h2>Search for:</h2>
	<ul>
		<li> <a href="#">Maps</a></li>
		<li> <a href="#">Scenarios</a></li>
		<li> <a href="#">Plugins + Scripts</a></li>
		<li> <a href="#">Utilities</a></li>
		<li> <a href="#">Physics</a></li>
	</ul>
	<h2>Search by:</h2>
	<ul>
		<li> <a href="#">Ratings</a></li>
		<li> <a href="#">Downloads</a></li>
	</ul>
	</section>
</section>

<section id="upload">

{% if latest_upload_list %}

	<h1>Latest Uploads</h1>
	<ul>
	{% for upload in latest_upload_list %}

		<li>
		{% if upload.screenshot_set.exists %}
		<section id="imgcrop">
		<img src="{%static upload.indexScreenshot %}" alt="Upload Screenshot" id="middle"></img>
		</section>
		{% endif %}
		

		<section id="uploadtext">
		<h2><a href="{%url 's7uploads:upload' upload.id %}">{{ upload.title }} {{ upload.versionNumber }}</a></h2>
		<a id="download" href="#">Download</a>
		<h3>{{ upload.user.username }} on {{ upload.uploadDate }} </h3>
		<p>{{ upload.description|truncatewords:20 }}</p>
		<h4> Version {{upload.versionNumber}} Notes: </h4>
		<p> {{ upload.versionNotes|truncatewords:10 }} </p>
		</section>
		</li>
	{% endfor %}
	</ul>

{% else %}

	<p> Nothing to see here. </p>

{% endif %}

</section>
</section>
{% endblock %}
