{% extends "s7uploads/navbar.html" %}

{% load static %}
{% load url_tags %}
{% load upload_tags %}

{% block content %}

<section id="main-content">
{% if user %}
	{% if user.is_anonymous %}
		<section id="userbanner-nolog">
			<h4>You are not logged in!</h4>
		</section>
	{% else %}
		<section id="userbanner">
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">⇡ Upload</a>
			</section>
			</section>
		</section>
	{% endif %}
{% endif %}

<section id="upload">
<span class="whitetitle"><h1> Latest Updates and Submissions </h1></span>


{% if latest_upload_list %}

	<ul>
	{% for upload in latest_upload_list %}
		{% with upload.upload_id as u %}

		<li>
		<section id="indexheader">
		<span class="mediumtext">
		<section id="indexuploadtext">
			<h2><span class="plainlink"><a href="{%url 's7uploads:upload' upload.id %}">{{ u.title }} {{ upload.version_name }}</a></span> by <span class="bluelink"><a href="linktouser">{{ u.user.user.username }}</a></span></h2>
			<a id="download" href="{%url 's7uploads:download' upload.id %}">⇣ Download</a>
			{% if user|user_owns_upload:upload.user %}
			<a id="download" href="{%url 's7uploads:edit' upload.id %}">Edit</a>
			{% endif %}

		</section>
		</section>

		{% if upload.upload_id.screenshot_set.exists %}
		<section id="imgcrop">
            		<img src="{% get_media_prefix %}{{upload.upload_id.indexScreenshot}}" alt="{% get_media_prefix %}{{upload.upload_id.indexScreenshot}}" id="middle"></img>
		</section>
		{% endif %}
		</span>
		

		<section id="indexuploadtext">
			<p><b>Description: </b>{{ u.description|truncatewords:20 }}</p>
			<br>
			<p> <b>Version {{upload.version_name}} Notes: </b>{{ upload.version_notes|truncatewords:10 }} </p>
			<br>
			<h3>Posted on {{ upload.date_added }} </h3>
		</section>
		<section id="indexuploadtext">
			{% if upload.upload_id.tags %}
			<span class="blue">
			<p>
				{% for tag in upload.upload_id.tags.all %}
				#{{tag.name}}
				{% endfor %}
				<br><br>
			</p>
			</span>
			{% endif %}
			<p>
			{{u.total_downloads}} downloads, {{upload.avg_rating}} average rating
			</p>
		</section>
		</li>
			{% endwith %}
	{% endfor %}
	</ul>

{% else %}

	<p> Nothing to see here. </p>

{% endif %}

	<section id="pagenums">
	{% for page in num_pages %}
		<a href="{% url 's7uploads:index' page %}?{{request.GET.urlencode}}">{{page}}</a>
	{% endfor %}
	</section>

</section>

</section>
{% endblock %}
