{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
    <section id="userbanner">
        {% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3>{{ user.username }}</h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}

<section id="sidebar">
	<section id="sidebar-content">
	<h2>Search:</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in search_form %}
        {{ field }}
        {% endfor %}
    </form>
	<h2>Sort by:</h2>
	<ul>
		<li> <a href="?order_by=-uploadDate">Newest</a></li>
		<li> <a href="?order_by=uploadDate">Oldest</a></li>
		<li> <a href="?order_by=ratings">Ratings</a></li>
        <li> <a href="?order_by=-total_downloads">Downloads</a></li>
	</ul>
    <h2>Filter by:</h2>
	<ul>
		<li> <a href="?filter=map">Maps</a></li>
        <li> <a href="?filter=scenario">Scenarios</a></li>
		<li> <a href="?filter=plugin#script">Plugins + Scripts</a></li>
		<li> <a href="?filter=utility">Utilities</a></li>
		<li> <a href="?filter=physics">Physics</a></li>
	</ul>
    <br>

	</section>
</section>

<section id="uploadlist">
<section id="upload">

{% if latest_upload_list %}

	<ul>
	{% for upload in latest_upload_list %}

		<li>
		{% if upload.screenshot_set.exists %}
		<section id="imgcrop">
            <img src="{% get_media_prefix %}{{upload.indexScreenshot}}" alt="{% get_media_prefix %}{{upload.indexScreenshot}}" id="middle"></img>
		</section>
		{% endif %}
		

		<section id="indexuploadtext">
		<h2><a href="{%url 's7uploads:upload' upload.id %}">{{ upload.title }} {{ upload.versionNumber }}</a></h2>
        <a id="download" href="{%url 's7uploads:download' upload.id %}">Download</a>
		<h3>{{ upload.user.user.username }} on {{ upload.uploadDate }} </h3>
		<p>{{ upload.description|truncatewords:20 }}</p>
		<h4> Version {{upload.versionNumber}} Notes: </h4>
		<p> {{ upload.versionNotes|truncatewords:10 }} </p>
		</section>
		</li>
	{% endfor %}
	</ul>

{% else %}

	<p> Nothing to see here. </p>

{% endif %}

</section>
</section>

</section>
{% endblock %}
