{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

<h1>Log In: </h1>

<section id="signup">

<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<h1> {{ field.label_tag }} </h1>
		<p>
		{{ field }}
		{% if field.help_text %}
		{{ field.help_text }}
		{% endif %}
		</p>
	{% endfor %}
	<button type="submit">Log In</button>
	{% if invalid %}
	<br>
	<br>
	<p style="color:red;">Credentials not found.</p>
	{% endif %}
</form>

</section>

</section>

{% endblock %}
