{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 's7uploads/style.css' %}">

<div id="stripe"></div>

{% block navbar %}
<div id = "banner">
	<nav>
	<ul id="navlinks">
	<li ><a href="{%url 's7uploads:index' %}" class="lightlink">infini<span class="sitecolor">7</span>y</a></li>
	<li ><a href="{%url 's7uploads:index' %}" class="lightlink">Downloads</a></li>
	<li><a href="{%url 's7uploads:reviews' %}" class="lightlink">Reviews</a></li>
	<li><a href="{%url 's7uploads:users' %}" class="lightlink">Users</a></li>
	<li><a href="#" class="lightlink" >About</a></li>
	<li><a href="#" class="lightlink">Community</a></li>
	<li><a href="{%url 's7uploads:signup' %}" class="boldlink">Sign Up</a></li>
	<li><a href="#" class="boldlink">Log In</a></li>
	<ul/>
	</nav>
</div>
{% endblock %}

{% block content %}
{% endblock %}
