{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

	{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3>{{ user.username }}</h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
	{% endif %}

	
	<section id="singleupload">
	<section id="upload">
		<section id="uploadheader">
			<h1>Upload File</h1>

			<div id="blackstripe"></div>

		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
            <label for="{{ form.title.id_for_label }}">Title</label>
			{{ form.title }}
            <label for="{{ form.title.id_for_label }}">Version Number</label>
            {{ form.versionNumber }}
            <br>
            <label for="{{ form.title.id_for_label }}">Description</label>
            {{ form.description.as_textarea }}
            <br>
            <label for="{{ form.title.id_for_label }}">Version Notes</label>
            {{ form.versionNotes.as_textarea }}
            <br><br>
            <label for="{{ form.title.id_for_label }}">Upload Screenshots...</label>
            {{ form.screenshots }}
            <br>
            <label for="{{ form.title.id_for_label }}">Choose file...</label>
            {{ form.file }}
            <br><br>
            <label for="{{ form.title.id_for_label }}">Tags (#tag1 #tag2 ...)</label>
            {{ form.tagline }}


			<input type="submit" value="Submit">
		</form>
		</section>
	 
	</section>
	</section>

</section>

{% endblock %}
