{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

	{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3>{{ user.username }}</h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
	{% endif %}

	<h1>Upload File</h1>

	<div id="blackstripe"></div>

	<section id="upload">


		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Submit">
		</form>
	 
	</section>

</section>

{% endblock %}
