{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
		{% if user.is_anonymous %}
		<section id="userbanner-nolog">
			<h4>You are not logged in!</h4>
		</section>
		{% else %}
		<section id="userbanner">
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		</section>
		{% endif %}
{% endif %}

<section id="upload">

{% if latest_review_list %}
	<h1>Latest Reviews</h1>
	<div id="blackstripe"></div>
	<section id="review">
		<ul>
		{% for review in latest_review_list %}
			<li>
				<h2 class="review">{{ review.title }} (<a href="{% url 's7uploads:upload' pk=review.upload.id %}">{{review.upload.upload_id.title}}</a>)</h2>
			<h3 id="review-rating">{{review.rating}}/5</h3>
			<h3>By {{ review.user.user.username }} on {{ review.pubDate }}</h3>
			<p>{{review.text|linebreaks}}</p>
			</li>
		{% endfor %}
		</ul>
	</section>
{% else %}

	<p> Nothing to see here. </p>

{% endif %}

</section>
</section>
{% endblock %}
