{% extends "s7uploads/navbar.html" %}

{% load static %}
{% load upload_tags %}

{% block content %}

<section id="main-content">

{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
				<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}

<section id="singleupload">
<section id="upload">
	<section id="uploadheader">
		<a id="download" href="#">Download</a>
		{% if user|user_owns_upload:upload.upload_id.user %}
		<a id="editupload" href="{% url 's7uploads:edit' upload.id %}">New Version</a>
		<a id="editupload" href="{% url 's7uploads:edit' upload.id %}">Edit</a>
		<a id="delete" href="{% url 's7uploads:delete' pk=upload.id %}">Delete</a>
		{% endif %}
		<div id="upload-title">
			<h1>{{ upload.upload_id.title }}</h1><h3> by </h3><h2>{{ upload.upload_id.user.user.username }}</h2>
		</div>

		<div id="blackstripe"></div>

		<section id="uploadtext">
			<h3>{{ upload.upload_id.user.user.username }} on {{ upload.date_added }} </h3>
			<p>{{ upload.upload_id.description|linebreaks }}</p>
			<h4> Version {{upload.version_name}} Notes: </h4>
			<p> {{ upload.version_notes|linebreaks }} </p>
			<h4> Upload Statistics: </h4><br>
			<p>
			downloads: {{upload.num_downloads}} <br>
			stars: {{upload.total_stars}} <br>
			</p>
			<p>
			{% for tag in upload.upload_id.tags.all %}
			#{{tag.name}} 
			{% endfor %}
			</p>

		</section>

		<section id="thumbnailscreenshots">
			{% for screenshot in upload.upload_id.screenshot_set.all %}
				<section id="thumbnailscreenshot">
                    <img src="{% get_media_prefix %}{{screenshot.url}}" alt="{{screenshot.url}}"></img>
				</section>
			{% endfor %}
		</section>
	</section>

	{% if upload.review_set.exists %}
		<section id="review">
			<h1>Reviews</h1>
			<div id="blackstripe"></div>

			{% if form %}
				<form action="add_review" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
			{% else %}
				{% if not user|user_owns_upload:upload.user and not user.is_anonymous %}
				<a href="{%url 's7uploads:add_review' pk=upload.pk%}" id="download" >+ Add Review</a>
				{% endif %}
			<br>
			<br>
			{% endif %}


			<ul>
			{% for review in upload.review_set.all %}
				<li>
				<h2 class="review">{{review.title}}</h2>
				<h3 id="review-rating">{{review.rating}}/5</h3>
				<h3>By {{review.user.user.username}} on {{review.pubDate}}</h3>
				<p>{{review.text|linebreaks}}</p>
				</li>
			{% endfor %}
			</ul>
		</section>
	{% else %}
		<h1>No reviews yet!</h1>
			{% if form %}
				<form action="add_review" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
			{% else %}
				<a href="{%url 's7uploads:add_review' pk=upload.pk%}" id="download" >+ Add Review</a>
			{% endif %}

			<br>
		</section>
	{% endif %}
</section>

</section>


</section>
{% endblock %}
