{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">


<section id="upload">
		
	<section id="uploadtext">
		<h2><a href="#">{{ upload.title }} {{ upload.versionNumber }}</a></h2>
		<a id="download" href="#">Download</a>
		<h3>{{ upload.user.username }} on {{ upload.uploadDate }} </h3>
		<p>{{ upload.description }}</p>
		<h4> Version {{upload.versionNumber}} Notes: </h4>
		<p> {{ upload.versionNotes }} </p>
	</section>

	
</section>

<section id="thumbnailscreenshots">
		{% for screenshot in upload.screenshot_set.all %}
			<section id="thumbnailscreenshot">
			<img src="{%static screenshot.url %}" alt="{%static screenshot.url %}"></img>
			</section>
		{% endfor %}
</section>


</section>

{% endblock %}
