{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
			<h3>{{ user.username }}</h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}

<section id="singleupload">
<section id="upload">
	<section id="uploadheader">
		<a id="download" href="#">Download</a>
		<h1>{{ upload.title }} by {{ upload.user.user.username }}</h1>


		<div id="blackstripe"></div>

		<section id="uploadtext">
			<h3>{{ upload.user.user.username }} on {{ upload.uploadDate }} </h3>
			<p>{{ upload.description|linebreaks }}</p>
			<h4> Version {{upload.versionNumber}} Notes: </h4>
			<p> {{ upload.versionNotes|linebreaks }} </p>
			<h4> Upload Statistics: </h4>
		</section>

		<section id="thumbnailscreenshots">
			{% for screenshot in upload.screenshot_set.all %}
				<section id="thumbnailscreenshot">
				<img src="{%static screenshot.url %}" alt="{%static screenshot.url %}"></img>
				</section>
			{% endfor %}
		</section>
	</section>

	{% if upload.review_set.exists %}
		<section id="review">
			<h1>Reviews</h1>
			<div id="blackstripe"></div>

			{% if form %}
				<form action="add_review" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
			{% else %}
				<a href="{%url 's7uploads:add_review' pk=upload.pk%}" id="download" >+ Add Review</a>
			<br>
			<br>
			{% endif %}


			<ul>
			{% for review in upload.review_set.all %}
				<li>
				<h2 class="review">{{review.title}}</h2>
				<h3 id="review-rating">{{review.rating}}/5</h3>
				<h3>By {{review.user.user.username}} on {{review.pubDate}}</h3>
				<p>{{review.text|linebreaks}}</p>
				</li>
			{% endfor %}
			</ul>
		</section>
	{% else %}
		<h1>No reviews yet!</h1>
			{% if form %}
				<form action="add_review" method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
			{% else %}
				<a href="{%url 's7uploads:add_review' pk=upload.pk%}" id="download" >+ Add Review</a>
			{% endif %}

			<br>
		</section>
	{% endif %}
</section>
</section>


</section>
{% endblock %}
