{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
	<section id="userbanner">
		{% if user.is_anonymous %}
			<h4>You are not logged in!</h4>
		{% else %}
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			<section id="userbannertext">
				<h3><a href="{% url 's7uploads:index' %}?tags={{user.username}}">{{ user.username }}</a></h3>
			<h5>{{ s7user.num_uploads }} uploads</h5>
			<h5>{{ s7user.num_reviews }} reviews</h5>
			<section id="sideupload">
			<a href="{%url 's7uploads:new_upload' %}">+ Upload</a>
			</section>
			</section>
		{% endif %}
	</section>
{% endif %}


<section id="upload">

{% if user_list %}
	<h1>Users</h1>
	<div id="blackstripe"></div>
	<div id="userlist">

		<ul>

		{% for user in user_list %}
			<li>
			<div id="userlisttext">
			<a href="{% url 's7uploads:index' %}?tags={{user.user.username}}"> {{ user.user.username }} </a>
			<h1>{{ user.num_uploads }} uploads, {{ user.num_reviews }} reviews</h1>
			</div>
			<img src="/static/s7uploads/images/default_profile.jpg"></img>
			</li>
		{% endfor %}

		</ul>

	</div>
{% else %}

	<p> Nothing to see here. </p>

{% endif %}

</section>
</section>
{% endblock %}
