{% extends "s7uploads/navbar.html" %}

{% load static %}

{% block content %}

<section id="main-content">

{% if user %}
		<section id="userbanner">
		{% if user.is_anonymous %}
		<h4>You are not logged in!</h4>
		{% else %}
		<img src="/static/s7uploads/images/default_profile.jpg"></img>
		<section id="userbannertext">
		<h3>{{ user.username }}</h3>
		<h5>{{ s7user.num_uploads }} uploads</h5>
		<h5>{{ s7user.num_reviews }} reviews</h5>
		<section id="sideupload">
		+ Upload
		</section>
		</section>
		{% endif %}
		</section>
{% endif %}


<section id="sidebar">
	<h1>Search / Sort</h1>
	<section id="sidebar-content">
	<h2>Search for:</h2>
	<ul>
		<li> <a href="#">Maps</a></li>
		<li> <a href="#">Scenarios</a></li>
		<li> <a href="#">Plugins + Scripts</a></li>
		<li> <a href="#">Utilities</a></li>
		<li> <a href="#">Physics</a></li>
	</ul>
	<h2>Search by:</h2>
	<ul>
		<li> <a href="#">Ratings</a></li>
		<li> <a href="#">Downloads</a></li>
	</ul>
	</section>
</section>

<section id="upload">

{% if user_list %}
	<h1>Users</h1>

	<section id="userlist">

	<ul>

	{% for user in user_list %}
		<li> 
		<a href="#"> {{ user.user.username }} </a>
		<h1>{{ user.num_uploads }} uploads, {{ user.num_reviews }} reviews</h1>
		</li>
	{% endfor %}

	</ul>

	</section>
{% else %}

	<p> Nothing to see here. </p>

{% endif %}

</section>
</section>
{% endblock %}
