* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: rgb(25, 25, 40);
}

div#stripe {
	background-color: rgb(80, 170, 250);
	height: 2px;
	width: 100%;
	position: fixed;
	top: 0;
}

div#blackstripe {
	background-color: rgb(60, 60, 65);
	height: 2px;
	width: 100%;
	margin-bottom: 8px;
	margin-top: 8px;
}

div#graystripe {
	background-color: rgb(180, 180, 185);
	height: 1px;
	width: 512px;
	margin-left: -6px;
	margin-bottom: 8px;
}

#userbanner {
	position: fixed;
	position: relative;
	float: right;
	background-color: rgb(45, 45, 70);
	padding: 16px;
	border-radius: 8px;
}

#userbanner-nolog {
	margin-bottom: 16px;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid;
	border-color: rgb(100, 170, 250);
	background-color: rgb(100, 170, 250);
	color: rgb(255, 255, 255);
	float: right;
}

#userbanner h3 {
	font-family: sans-serif;
	font-size: 18;
	margin-right: 8px;
	margin-bottom: 4px;
}

#userbanner h3 a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

#userbanner h4 {
	font-family: sans-serif;
	font-size: 14;
	margin-right: 8px;
	text-align: center;
}

#userbanner img {
	max-width: 100px;
	border: 1px solid white;
	border-radius: 8px;
	float: left;
	clear: right;
	margin-right: 10px;
}

#userbanner h5 {
	font-weight: normal;
	font-size: 14px;
	color: rgb(250, 250, 250);
}

#userbannertext {
	float: right;
}

#sideupload a {
	color: rgb(255, 255, 255);
	background-color: rgb(100, 170, 250);
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	border-radius: 8px;
	padding: 4px;
	padding-right: 8px;
	float: left;
	margin-top: 8px;
}

div#banner {
	background-color: rgb(20, 20, 40);
	position: fixed;
	left: 0;
	top: 2;
	width: 100%;
	display: inline-block;
	height: 32px;
	padding-top: 10px;

	text-align: center;
}

div#searchbanner {
	background-color: rgb(120, 60, 180);
	background: linear-gradient(
		45deg,
		rgb(110, 30, 190),
		rgb(180, 60, 120)
	);
	position: fixed;
	top: 44px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#searchbannercontent {
	margin-right: 32px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

.searchicon {
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 2px;
	font-size: 22;
	color: rgb(120, 70, 180);
	font-weight: bold;
	float: left;
	transform: rotate(110deg);
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
	outline: none;
}

#searchbanner input {
	height: 32px;
	border: 0px solid;
	border-radius: 2px;
	color: rgb(190, 190, 190);
	font-size: 16;
	color: rgb(130, 130, 130);
}

#searchbanner input:focus {
	border: 0px solid;
	border-radius: 2px;
	color: rgb(20, 10, 20);
	outline: none;
}

select::-ms-expand { 
	display: none; 
}

select {
	-webkit-appearance: none;
	appearance: none;
}

.searchcategory {
	font-size: 16;
	color: rgb(130, 130, 130);
	padding-right: 4px;
	padding-left: 8px;
	border: 0px;
	background-color: rgb(255, 255, 255);
	margin-right: 4px;
	margin-left: 4px;
}

.searchcategory:focus {
	outline: none;
}

#navlinks {
	margin: 0 auto;
}

#banner li {
	padding-right: 16px;
	font-size: 18px;
	display: inline;
}

#signup {
	background-color: rgb(240, 240, 245);
	padding: 8px;
	border: 0px solid;
	border-radius: 8px;
}

#signup form {
	font-size: 14px;
	font-family: sans-serif;
}

#signup h1 {
	font-size: 16px;
}

#signup form li {
	list-style: none;
	color: rgb(115, 110, 110);
}

#signup form p {
	color: rgb(115, 110, 110);
	margin-bottom: 16px;
}

#main-content {
	margin: 0 auto;
	margin-top: 128px;
	width: 90%;
	max-width: 1200px;
}

#singleupload {
	width: 50%;
	margin: auto;
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 60);
	border-radius: 8px;
	padding: 8px;
	display: block;
	overflow: auto;
}

#uploadheader {
	color: rgb(255, 255, 255);
}

div #upload-title {
	display: inline;
}

div#upload-title h1 {
	font-weight: bold;
	font-size: 24px;
	display: inline;
	text-decoration: none;
}

div#upload-title h3 {
	font-weight: normal;
	font-size: 24px;
	display: inline;
	text-decoration: none;
}

div#upload-title h2 {
	font-weight: normal;
	font-size: 24px;
	display: inline;
	text-decoration: none;
	color: rgb(100, 170, 250);
}

#uploadtext {
}

#thumbnailscreenshots {
	float: right;
	width: 256px;
}

#thumbnailscreenshot {
	height: 128px;
	overflow: hidden;
	border-radius: 8px;
	margin: 4px;
	background-color: rgb(10, 5, 15);
	position: relative;
}

#thumbnailscreenshot img {
	width: 100%;
}

#review {
	margin: 0 auto;
	width: 50%;
}

#upload {
	margin: 0 auto;
	width: 50%;
	position: relative;
}

#upload ul {
	margin-bottom: 16px;
}

#upload li {
	list-style-type: none;
	background-color: rgb(40, 40, 60);
	border-radius: 8px;
	margin-bottom: 16px;
	padding-top: 6px;
}

#upload li:hover {
	background-color: rgb(45, 45, 70);
}

#indexuploadtext {
	padding-top: 6px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	color: rgb(250, 250, 250);
}

#indexheader {
	border-bottom: 2px solid rgb(50, 50, 70);
}

#upload h2 {
	font-weight: normal;
	display: inline;
}

.mediumtext {
	font-size: 14;
}

.blue p {
	color: rgb(100, 170, 250);
}

.plainlink a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.whitetitle h1 {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 16px;
}

.bluelink a {
	color: rgb(100, 170, 250);
	text-decoration: none;
}

#community li {
	padding: 8px;
	background-color: rgb(220, 220, 220);
}

#community li a {
	color: rgb(5, 0, 0);
}

#review li{
	padding: 8px;
	background-color: rgb(245, 245, 245);
}

#review h2 {
	text-decoration: none;
}

#review-rating {
	float: right;
}

#download {
	float: right;
	color: rgb(255, 255, 255);
	background-color: rgb(100, 170, 250);
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 4px;
}

#addreview {
	float: right;
	color: rgb(255, 255, 255);
	background-color: rgb(100, 170, 250);
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
}

#editupload {
	float: right;
	color: rgb(255, 255, 255);
	background-color: rgb(100, 200, 190);
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
	padding: 4px;
	margin-left: 4px;
}

#delete {
	float: right;
	color: rgb(255, 255, 255);
	background-color: rgb(200, 20, 50);
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
	padding: 4px;
	margin-left: 4px;
}

#deletess {
	position: absolute;
	float: right;
	color: rgb(255, 255, 255);
	background-color: rgb(200, 20, 50);
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
	padding: 4px;
	right: 4px;
}

#upload h3 {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 8px;
	color: rgb(220, 220, 230);
}

#imgcrop {
	width: 100%;
	overflow: hidden;
	margin-bottom: 8px;
}

#upload ul li img {
	width: 100%;
}

.lightlink {
	text-decoration: none;
	color: rgb(250, 250, 255);
}

.boldlink {
	text-decoration: none;
	color: rgb(255, 250, 255);
	border-style: solid;
	border-color: rgb(100, 170, 250);
	border-radius: 8px;
	padding: 4px;
	border-width: 1px;
	margin-top: -4px;
	margin-right: 8px;
}

#userlist ul {
	margin: 0 auto;
}

#userlist li {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
	border-radius: 4px;
}

#userlisttext {
	float: right;
	margin-left: 8px;
}

#userlist li a {
	font-size: 18px;
	font-weight: bold;
	color: rgb(60, 60, 65);
}

#userlist h1 {
	font-size: 14px;
	color: rgb(80, 80, 85);
}

#userlist img {
	max-width: 100px;
	float: left;
	border-radius: 4px;
}

#upload label {
    font-size: 14px;
    display: block;
}

#pagenums {
	padding: 4px;
}

#pagenums a {
	padding: 2px;
	margin-right: 4px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: rgb(255, 255, 255);
	background-color: rgb(100, 170, 250);
	border-radius: 3px;
}

.sitecolor {
	color: rgb(100, 170, 250);
}
